
#about{
    margin-top: -400px;
}
.fab{
    color: azure;
}
.tulisan{
    text-align: left;
}
.heading{
    padding-top: 20px;
}
.goto-here{

    background-color:azure;
}
#hubungi-kami{
    background-color: azure;
}
.nama-atas{
    font-family: sofia;
    font-size: 30px;
}
.media{
    border-radius: 10px;
}