body{
    background-color: rgb(255, 255, 255);
}
table{
    border:1px solid black;
    border-radius: 10px;
    background-image:linear-gradient(rgb(96, 155, 223), rgba(165, 219, 245, 0.603));
    padding:10px 10px 10px 10px;
    margin-left: 300px;
    }
.tengah tr td{
    text-align:center;
}
.bot{
    text-align: center;
}
img{
    border-block: 1px solid rgb(238, 231, 231);
    border-radius: 10px;
}